[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest
[submodule "Libraries/SFML"]
	path = Libraries/SFML
	url = https://github.com/SFML/SFML
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog
